.cursor-pointer {
  cursor: pointer;
}

.canvas-style {
  /* height: 97%; */
  height: 900px;
  /* width: 55%; */
  width: 900px;
  border: solid white 1px;
}

.r0 {
  right: 0;
}

html {
  height: 100vh;
}
